:root {
    --azul-trilhas: rgba(33, 53, 166, 0.93);
    --azul-escuro: rgba(65, 33, 184, 1);
}

* { 
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-weight: 400;
}

p, h1 {
    color: black;
}

/*ÁREA DOS CABEÇALHOS*/
header{
    display: flex;
    flex-direction: column;
}

.menu-navegacao{
    background-color: blue;
    width: 100%;
}

.menu_titulo{
    display: flex;
    justify-content: center;
    padding: 2%;
    gap: 30px;
    
    #img-logo-trilhas{
        height: 31px;
    }

    .texto-cabecalho {
        max-width: 700px;
        text-align: center;
        font-weight: 300;
        font-size: 2rem;
        color: white;
    }
}

#menu_links_background{
    max-width: 100%;
    background-color: var(--azul-escuro);
}

.menu_links{
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 1000px;
    margin: 0 auto;
    
    a{
        width: 200px;
        font-size: 1.5rem;
        color: rgba(0, 0, 0, 1);
        transition: 0.5s;
        text-align: center;
        flex-grow: 1;
        padding: 1% 0;
        text-decoration: none;
    }

    a:hover {
        background-color: white;
        font-size: 1.6rem;
        transition: 0.5s;
    }
}

main {
    display: flex;
    flex-direction: column;
    gap: 50px;

    margin: 0 auto;
    max-width: 1000px;
    width: auto;
    display: flex;
    justify-content: center;

    padding: 2% 2% 70px 2%;
}


.secao_informativo {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.titulo_pagina p {
    color: rgba(38, 55, 242, 0.99);
    font-size: 2rem;
}

.text-intro {
    color: rgba(0, 0, 0, 0.93);
    font-size: 1.4rem; 
}

.btn_servicos {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    padding-top: 1%;   
}

.btn{
    cursor: pointer;
    background-color: rgba(33, 51, 166, 1);
    border-radius: 8px;
    border: none;

    width: 100%;
    height: 50px;

    font-size: 1.2rem;
    text-decoration: none;
    text-align: center;
    color: white;
}

.btn:hover{
    font-size: 1.5rem;
    transition: 0.5s;
}

.btn:focus{
    font-size: 1.5rem;
    
}

.btn.ativo {
    box-shadow: 0px 0px 4px 2px red;
    font-size: 1.5em;
}

.box_servico{
    padding: 2% 1.5%;
    max-width: 970px;
    background-color: #F3F4F6;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.sub_servicos {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.card_input-servico{
    cursor: pointer;
    display: flex;
    padding-left: 3px;
    align-items: center;
    
    width: 15%;
    height: 50px;
    border: 1px solid red;
    border-radius: 12px;
    background-color: #e53935;

    .div_txt{
        width: 100%;
    }
        
    p{
        text-align: center;
        color: white;
        margin: 0 auto;
    }
}

.card_input-servico:hover{
    transform: scale(1.08);
    transition: 0.4s;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

.div_filtros{
    display: flex;
    gap: 50px;
}

#filtro_local, #filtro_horario{
    select{
        width: 100px;
        height: 30px;
        font-size: 1rem;
        border-radius: 8px;
    }
}

#btn_buscar{
    margin-top: 12px;
    cursor: pointer;
    width: 10%;
    height: 35px;
    border-radius: 8px;
    border: 1px solid #e53935;
}

#btn_buscar:hover{
    background-color: #e53935;
    border-color: none;
    color: white;
    font-size: 0.9rem;
    transition: 0.4s;
}

.box_servico{
    display: none;
}

/*Mobile*/
@media (max-width: 900px) {
    main{
        margin-bottom: 20%;
    }

    .menu_titulo{
        .texto-cabecalho{
            font-size: 1.5rem;
        }
    }
    .menu_links{
        a{
            font-size: 1.3rem;
        }
    }

    .card_input-servico{
        width: 15%;
    }
}

@media (max-width: 700px) {
    main{
        padding-bottom: 0;
    }

    .menu_titulo{
        .texto-cabecalho{
            font-size: 1.1rem;
        }
    }

    .menu-navegacao{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu_titulo{
        flex-direction: column;

        #img-logo-trilhas{
            width: 250px;
        }
        .texto-cabecalho{
            max-width: 700px;
        }
    }

    #menu_links_background{
        display: none;
    }

    /*MAIN*/
    .titulo_pagina{
        font-size: 1.3rem;
    }
    .text-intro {
        font-size: 1rem; 
    }

    .servicos h2{
        font-size: 1.2rem;
    }

    .btn_servicos{
        flex-direction: column;
        width: 100%;
        align-items: center;
        padding-top: 3%;

        button{
            width: 80%;
        }
    }

    .box_servico{
        padding: 4% 1.5%;

    }

    .sub_servicos{
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    .card_input-servico{
        width: 40%;

        p{
            font-size: 1rem;
        }
    }

    .div_filtros{
        flex-direction: column;
        gap: 10px;
    }

    #btn_buscar{
        width: 28%;
        height: 40px;
    }
    
}
