:root {
    --azul-trilhas: rgba(33, 53, 166, 0.93);
    --azul-escuro: rgba(65, 33, 184, 1);
}

* { 
    margin: 0px;
    padding: 0px;
}

p, h1 {
    font-family: Arial, sans-serif;
    color: black;
    font-weight: 400;
    font-size: 3rem;
}
/*ÁREA DOS CABEÇALHOS*/
.titulo-pagina p{
    display: flex;
    justify-content: center;
    color: white;
    font-weight: bold;
}

.menu-home {
    background-color: var(--azul-trilhas);
}

.menu-home nav {
    background-color: var(--azul-escuro);
    width: 100%;
    display: flex;
}

.menu-home nav a {
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 2rem;
    color: rgba(0, 0, 0, 1);
    padding: 14px 59px;
    transition: 1s;
    
}

.menu-saude {
    background-color: #E53935;
}

.menu-saude nav {
    background-color: #EF5350;
    width: 100%;
    display: flex;
}

.menu-saude nav a {
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 2rem;
    color: rgba(0, 0, 0, 1);
    padding: 14px 59px;
    transition: 1s;
    
}

.menu-educacao {
    background-color: #fbd56c;
}

.menu-educacao nav {
    background-color: #FEEBC1;
    width: 100%;
    display: flex;
}

.menu-educacao nav a {
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 2rem;
    color: rgba(0, 0, 0, 1);
    padding: 14px 59px;
    transition: 1s;
    
}

nav a:hover {
    background-color: white;
}

/**/

main {
    margin-left: 104px;
}

#img-logo-trilhas {
    width: 753.54px;
    height: 94px;
    margin-top: 254px;
    margin-left: 83px;
}

.texto-cabecalho {
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 3rem;
    margin-top: 76px;
    margin-left: 190px;
    margin-bottom: 43px;
    color: white;
}


.home {
    display: flex;
    flex-direction: column;
    gap: 82px;
}

.breadcrumbs p {
    font-family: Arial, sans-serif;
    color: rgba(38, 55, 242, 0.99);
    font-size: 48px;
}

.primeiro-acesso {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(217, 217, 217, 1);
    border-radius: 200px;
    width: 468px;
    height: 87px;

    font-family: Arial, sans-serif;
    color: rgba(0, 0, 0, 0.93);
    font-size: 48px;
    text-decoration: none;
}

.text-intro {
    font-family: Arial, sans-serif;
    color: rgba(0, 0, 0, 0.93);
    font-size: 48px; 
}

.links-servicos {
    display: flex;
    justify-content: space-around;
}

.links-servicos a {
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 2.5vw;
    text-decoration: none;
    text-align: center;

    width: 15%;
    aspect-ratio: 4 / 3;
    /* height: 132px; */
    border-radius: 40px;

    color: white;
    background-color: rgba(33, 51, 166, 0.93);

    display: flex;
    justify-content: center;
    align-items: center;
}

/*CADASTRO*/
.formulario-cadastro {
    display: flex;
    flex-direction: column;
}

.formulario-cadastro input{
    height: 60px;
    width: 38%;
    font-size: 1.5rem;
}

.input-grande {
    height: 120px;
    width: 80%;
    font-size: 1.5rem;
}

/*SAÚDE*/
.imagens-saude {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

.imagens-saude img{
    height: 300px;
    aspect-ratio: 4/3;
}

.link-bloco {
    text-decoration: none;
    display: inline-block;
}
  
  .bloco-cidadao {
    background-color: #00DDEB;
    padding: 20px;
    border-radius: 8px;
    width: 250px;
    text-align: center;
    color: #2E00A0;
    font-family: Arial, sans-serif;
    transition: transform 0.2s;
    height: 100%;
  }
  
  .bloco-cidadao:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
  
  .icon {
    font-size: 40px;
    display: block;
    margin-bottom: 10px;
    color: black;
  }
  
  .bloco-cidadao h2 {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    letter-spacing: 2px;
  }
  
  .bloco-cidadao p {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    letter-spacing: 1.5px;
    line-height: 1.4;
  }

  .bloco-profissionais {
    background-color: #86C8DC;
    padding: 20px;
    border-radius: 8px;
    width: 280px;
    text-align: center;
    color: #0B0B49; 
    font-family: Arial, sans-serif;
    transition: transform 0.2s;
    height: 100%;
  }
  
  .bloco-profissionais:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
  
  .bloco-profissionais .icon {
    font-size: 40px;
    display: block;
    margin-bottom: 10px;
    color: black;
  }
  
  .bloco-profissionais h2 {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    letter-spacing: 2px;
  }
  
  .bloco-profissionais p {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    letter-spacing: 1.5px;
    line-height: 1.4;
  }

  .blocos-saude {
    align-items: stretch;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  /*EDUCAÇÃO*/